{% extends "layout.html" %}

{% block body %}
        <p>Inicio de sesión</p>
        <form method="POST" action="/">
            <input type="email" name="email" id="user" placeholder="Correo" autofocus="" autocomplete="off" required />
            <input type="password"  name="password" id="password" placeholder="Contraseña" autocomplete="off" required/>
            <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Ingresar
            </button>
        </form>
{% endblock body %}