{% extends "layout.html" %}

{% block body %}
<body class="index">
    <section class="login">
        <img class="imagen" src="{{url_for('static', filename='img/NORGAS.jpg')}}" alt="Inicio de Sesión" width="200" height="200" />
        <p>Crear Usuario</p>
        <form method="POST" action="/signup">
            <input type="email" name="email" id="user" placeholder="Correo" autofocus="" autocomplete="off" required />
            <input type="text" name="name" id="name" placeholder="Nombre" autocomplete="off" required />
            <input type="password"  name="password" id="password" placeholder="Contraseña" autocomplete="off" required/>
            <button>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Crear usuario
            </button>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <section class="notification is-danger">
                {{ messages[0] }}
            </section>
        {% endif %}
        {% endwith %}
    </section>
</body>
{% endblock body %}