* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    opacity: 1;
}
body {
    background-color: #ffffff;
    margin: 0;
}

#menu, #menu-check {
    display: none;
}

@media (min-width:350px)  and (max-width:575px) { 
    /* smartphones, Android phones, landscape iPhone */ 
    h6 {
        position: absolute;
        top:0;
        right: 40px;
        font-size: 20px;
        text-align: center;
        color: white;
        float: right;
        padding: 0px;
        margin: 15px 0px;
    }

    #menu-check:not(:checked) ~ nav {
        display: none;
    }

    #menu-check:checked ~ nav {
        display: block;
    }

    #menu {
        display: block;
        color: white;
        border: none;
        border-radius: 2px;
        position: absolute;
        padding: 14px;
        margin: 4px 0px;
        right: 0px;
        top: 0px;
        z-index: 999;
    }

    #menu:hover {
        color: #2868c7;
        background-color: #ffffff;
    }

    #menu-cerrar {
        display: none;
    }

    #menu-check:checked ~ label #menu-abrir {
        display: none;
    }

    #menu-check:checked ~ label #menu-cerrar {
        display: block;
    }

    /* Section About */
    .ABOUT {
        margin: 20px auto;
        float: center;
        width: 300px;
        font-size: 20px;
    }
}
@media (min-width:576px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    #menu, #menu-check {
        display: none;
    }
    
    h6 {
        position: absolute;
        top:0;
        right: 0;
        font-size: 24px;
        text-align: center;
        color: white;
        float: right;
        padding: 0px;
        margin: 25px 10px;
        width: auto;
    }
    /* Section About */
    .ABOUT {
        margin: 20px auto;
        float: center;
        width: 400px;
        font-size: 20px;
    }
}

/* Section Index */
.index {
    background-color: #2868c7;
    background-image: url("/static/img/fondo.jpg");
    /*Imágenes
    https://cdn.pixabay.com/photo/2017/03/27/12/39/kettles-2178442_960_720.jpg
    https://cdn.pixabay.com/photo/2010/12/13/10/05/appliance-2257_960_720.jpg
    https://cdn.pixabay.com/photo/2015/08/02/14/34/flame-871136_960_720.jpg
    https://cdn.pixabay.com/photo/2016/12/29/10/45/gas-1938298_960_720.jpg
    https://img.freepik.com/foto-gratis/representacion-3d-cilindro-gas_23-2149290461.jpg?w=1060&t=st=1658090961~exp=1658091561~hmac=e6a9f7338bec669cf9cb09728a953673af7cb645957358671190d4e7056f0e03
    */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
}
.login {
    width: 400px;
    background-color: #fff;
    margin: 100px auto;
    border-radius: 5px;
}
.imagen {
    padding: 10px;
    margin: auto 100px;
}
.login p {
    text-align: center;
    font-size: 18px;
    padding: 20px 20px;
    margin: 0;
    text-transform: uppercase;
}
.login form #user{
    width: 300px;
    height: 30px;
    padding: 0px 15px;
    margin: 10px 50px;
    transition: box-shadow 0.3s ease;
    text-align: center;
    outline: none;
}
.login form #name{
    width: 300px;
    height: 30px;
    padding: 0 15px;
    margin: 10px 50px;
    border: 1px solid #aaa;
    transition: box-shadow 0.3s ease;
    text-align: center;
    outline: none;
}
.login form #password{
    width: 300px;
    height: 30px;
    padding: 0 15px;
    margin: 10px 50px;
    transition: box-shadow 0.3s ease;
    text-align: center;
    outline: none;
}
/* Boton ingresar */
.login .button {
    position: relative;
    display: inline-block;
    margin: 10px 110px;
    padding: 10px 20px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(67, 105, 241);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 3px;
    border: 1px solid rgb(25, 14, 241);
    outline: 1px blue;
    border-radius: 5px;
}

.login form input:hover {
    box-shadow: 0 0.1rem 0.4rem #2868c7;
}
.notification {
    background-color: red;
    text-align: center;
    margin: 0;
    padding: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}




