{% extends "layout_menu.html" %}

{% block menu %}
    <section class="ABOUT text-justify">
            <legend>Creado por</legend>
            <p>Desarrollado como proyecto del tecnólogo Sena: Análisis y Desarrollo de Sistemas de Información.</p>
            <p>Licencias bajo criterio de uso de la persona hará uso del software.</p>
            <p>Desarrollado bajo solicitud de: INGRESE NOMBRE DEL SOLICITANTE.</p>
            <p>Desarrollado por: Wilder Bello</p>
    </section>
{% endblock menu %}