{% extends "layout_menu.html" %}

{% block menu %}
    <section class="ABOUT text-justify">
            <legend>Creado por</legend>
            <p>Desarrollado como proyecto del tecnólogo Sena: Análisis y Desarrollo de Sistemas de Información.</p>
            <p>Al hacer uso de este software está aceptando las <a href="https://www.sic.gov.co/sites/default/files/documentos/072020/Pol%C3%ADtica%20de%20Tratamiento%20de%20Datos%20Personales%20-%20SIC.pdf">politicas de privacidad</a> dispuestas por el gobierno colombiano.</p>
            <p>Desarrollado por: Wilder Bello</p>
            <p>Puedes obtener soporte <a href="mailto:wilderbello@gmail.com">aquí.</a></p>
            
    </section>
{% endblock menu %}