{% extends "layout_menu.html" %}

{% block menu %}
    <section class="Crear">
        <form action="/create" method="POST">
            <fieldset>
            <legend>Crear pedido</legend>
            <section>
                {{form.Documento.label}}
                {{form.Documento ()}}
            </section>
            <section>
                {{form.Nombre.label}}
                {{form.Nombre ()}}
            </section>
            <section>
                {{form.Telefono.label}}
                {{form.Telefono ()}}
            </section>
            <section>
                {{form.Direccion.label}}
                {{form.Direccion ()}}
            </section>
            <section>
                {{form.Referencia.label}}
                {{form.Referencia ()}}
            </section>
            <section>
                {{form.Fecha.label}}
                {{form.Fecha ()}}
            </section>
            <section>
                {{form.Numero.label}}
                {{form.Numero()}}
            </section>
            <section>
                {{form.Estado.label}}
                {{form.Estado()}}
            </section>
            <section>
                {{form.Deuda.label}}
                {{form.Deuda()}}
            </section>
            <section>
                {{form.Anotaciones.label}}
                {{form.Anotaciones()}}
            </section>
            
            {{form.Crear (class="btn btn-1") }} {{form.hidden_tag()}}
            </fieldset>
        </form>
    </section>
{% endblock menu %}