{% extends "layout_menu.html" %}

{% block general %}
<fieldset>
{% block usuario %}
<section class="d-flex">
    <h5 class="p-0 m-4">Bienvenido, {{username}}!</h5>
</section>

{% endblock usuario %}
{% block menu %}
<section class="HOME">
    <section class="d-flex justify-content-center">
        <a class="btn btn-secondary float-left bg-primary border" href="/search">Buscar Usuario</a>
        <a class="btn btn-secondary float-left bg-primary border" href="/create">Crear pedido</a>
    </section>
</section>
{% endblock menu %}
</fieldset>
{% endblock general %}