<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_icon.ico') }}" type="image/x-icon">
        <title>Punto de venta</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
    </head>
    <body>
            <section class="banner">
                <a  href="/home"><img class="logo" src="{{ url_for('static', filename='img/NORGAS.jpg')}}" alt="Inicio" width="60" height="60" /></a>
                <a  href="/home"><h1>Punto de venta Puerto Rondón</h1></a>
            </section>

            <section>
                <input type="checkbox" id="menu-check">
                <label id="menu" for="menu-check">
                    <span id="menu-abrir">&#9776;</span>
                    <span id="menu-cerrar">X</span>
                </label>

                <nav>
                    <ul class="links">
                        <li><a class="home"  href="/home">Inicio</a></li>
                        <li><a class="search"  href="/search">Buscar</a></li>
                        <li><a class="create" href="/create">Crear</a></li>
                        <li class="derecha"><a class="close_session" href="/logout">Cerrar Sesión</a></li>
                        <li class="derecha"><a class="about" href="/about">Acerca de</a></li>
                    </ul>
                </nav>
        </section>

            {% block general %}
            
            {% block usuario %}
            {% endblock usuario %}

            {% block menu %}
            {% endblock menu %}

            <section>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <section class="aviso">
                        {{ messages[0] }}
                    </section>
                {% endif %}
                {% endwith %}
            </section>
            
            {% block mostrar %}
            {% endblock mostrar %}

            {% endblock general %}
            
            
    </body>
</html>