<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_icon.ico') }}" type="image/x-icon">
        <title>Inicio de Sesión</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
    </head>
    <body>
            <section class="banner">
                <a  href="/home"><img class="logo" src="{{ url_for('static', filename='img/NORGAS.jpg')}}" alt="Inicio" width="60" height="60" /></a>
                <a  href="/home"><h1>Punto de venta Puerto Rondón</h1></a>
            </section>
            <ul class="links">
                <li><a class="home"  href="/home">Home</a></li>
                <li><a class="search"  href="/search">Search</a></li>
                <li><a class="create" href="/create">Create</a></li>
                <li style="float:right"><a class="close_session" href="/">Cerrar Sesión</a></li>
                <li style="float:right"><a class="about" href="/about">About</a></li>
            </ul>
            {% block menu %}
            {% endblock menu %}
    </body>
</html>