{% extends "layout_menu.html" %}

{% block usuario %}
    <section class="SEARCH">
        <section class="d-flex justify-content-center p-3">

            <form action="/search" method="POST">
                <section class="form-group form-row">
                    {{form.Cliente.label (class="col-sm-5 col-form-label")}}
                    {{form.Cliente (class="form-control", placeholder="Cédula usuario")}}
                </section>

                <section class="d-flex justify-content-center">
                    {{form.Buscar (class="btn btn-primary float-left bg-primary border")}}

                    {% if usuario_existe == True %}
                        <!--a class="btn btn-secondary bg-primary border" href="/modify">Modificar último pedido</a -->
                    {% endif %}
                </section>
            </form>

        </section>
    </section>
{% endblock usuario %}

{% block mostrar %}
<section class="SEARCH">
    <section class="table-responsive">
        <table class="table"> 
            <caption>Información del cliente</caption>
            <thead>
                <tr class="bg-primary text-white border">
                    <th class="border">Cédula</th>
                    <th class="border">Nombre</th>
                    <th class="border">Teléfono</th>
                    <th class="border">Dirección</th>
                    <th class="border">Ref. del producto</th>
                    <th class="border">Num. Productos</th>
                    <th class="border">Estado</th>
                    <th class="border">Deuda</th>
                    <th class="border">Anotaciones</th>
                    <th class="border">Vendedor</th>
                    <th class="border">Num. Pedido</th>
                    <th class="border">Fecha pedido</th>
                    <th class="border"></th>
                </tr>
            </thead>
            <tbody>
                {% for data in DatosUsuario %}
                    <tr>
                        <td>{{ data[1] }}</td>
                        <td>{{ data[2] }}</td>
                        <td>{{ data[3] }}</td>
                        <td>{{ data[4] }}</td>
                        <td>{{ data[5] }}</td>
                        <td>{{ data[6] }}</td>
                        <td>{{ data[7] }}</td>
                        <td>{{ data[8] }}</td>
                        <td>{{ data[9] }}</td>
                        <td>{{ data[10] }}</td>
                        <td>{{ data[12] }}</td>
                        <td>{{ data[13] }}</td>
                        {%if data[1] != 'Null' %}
                            <td><a class="btn btn-secondary bg-primary border" href="/modify/{{ data[12] }}">Modificar</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</section>
{% endblock mostrar %}
